<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<properties>
    <comment>yo_convo_bubbleticks.xml</comment>
    <comment>yo_convo_entry.xml</comment>
    <comment>yo_convo_mods.xml</comment>
    <comment>yo_home_header.xml</comment>
    <comment>yo_home_mods.xml</comment>
    <comment>yo_home_row.xml</comment>
    <comment>yo_home_status.xml</comment>
    <comment>yo_media.xml</comment>
    <comment>yo_privacy.xml</comment>
    <comment>yo_universal_settings.xml</comment>
    <comment>yo_widget.xml</comment>
</properties>